/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  width: 100svi;
  padding: var(--page-padding);
  overflow-x: hidden;
  font-family: var(--font-family, sans-serif);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-cover-image);  
  background-position: center;
  background-attachment: fixed;
}
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: var(--page-gap);
  block-size: 100svb;
  min-block-size: 375px;
  grid-template-columns: minmax(min(320px, 100%), 1fr);
  padding-block-end: calc(var(--page-padding) * 2);
}
.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset-block-end: calc(var(--page-padding) * 2);
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;

}
.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
}
.header__theme-menu {
  justify-self: center;
  align-self: start;
}
.header__theme-menu-list {
  display: flex;
  gap: 10px;
}
.header__theme-menu-button {
  width: 70px;
}
.header__decoration {
  position: absolute;
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 10px;
  align-self: start;
  color: var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 0;
}
.header__decoration::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px; 
}

.header__title {
  position: relative;
  color: var(--logo-main-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  block-size: calc(100% + (var(--page-padding) * 2));
  inset-inline-start: calc(var(--page-padding) * -1); 
  
}

.header__description {
  justify-self: right;
  align-self: center;
  inline-size: max(50%, 355px);
} 
.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-offset);
}
.text-decor {
  color: var(--text-color);
}
.title-decor {
  color: var(--card-title-color);
  font-weight: 700;
  font-size: inherit;
  background-color: var(--accent-color);

}
.section-content {
  display: grid;
  gap: 20px;
}

.section-title {
  justify-self: start;
  align-self: start;
  color: var(--section-title-color);
  font-size: inherit;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.article-focus-reasons {
  grid-column: 2 / 3;
}
.inline-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}
.inline-link:hover {
  border-block-end: 1px solid var(--text-color);
}
.inline-link:focus {
  outline: 1px solid var(--text-color);
}
.focus-reasons {
  grid-template-columns: 1fr 2.06fr;
}
.article-reason-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}
.focus-tips {
  grid-template-columns: 1fr 2.06fr;
}

.article-focus-tips {
  grid-column: 2 / 3;
}
.article-tips-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.focus-distractors { 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content auto;
}
.article-distractors-item {
  grid-row: 2 / 3;
}
.title-distractors {
  grid-column: 1 / 2;
}
.section-gallery {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows: max-content repeat(4, minmax(min-content, max-content));
  gap: var(--gallery-gap);
}
.title-gallery {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  justify-self: stretch;
  
}
.gallery-item {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.gallery-item:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.gallery-item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.gallery-item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}
.gallery-item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.gallery-item:nth-child(6) {
  grid-column: 2 / 4;
  grid-row:  4 / 5;
}
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--page-gap);
  block-size: 100svh;
  min-block-size: 375px;
  padding-block-end: calc(var(--page-padding) * 2);
}
.footer-title {
  color: var(--logo-main-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0 var(--accent-color);
}
@media (orientation: portrait) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
}

@media (width < 600px) {
  :root {
  --page-padding: 10px;
  --page-gap: 40px;
  --section-offset: 50px;
  --gallery-gap: 10px;
  }
  .header__title {
    block-size: 100%;
    position: static;
    inset-inline-start: 0;
    letter-spacing: -2px;
  }
  .focus-reasons, .focus-tips {
    grid-template-columns: 1fr;
  }
  .article-focus-reasons, .article-tips-container {
    grid-column: 1 / 2;
  }
  .focus-distractors {
  grid-template-columns: 1fr;
}
  .article-distractors-item {
  grid-row: initial;
  grid-column: initial;
}
  .section-gallery {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .section-gallery .gallery-item {
    grid-column: 1 / 2;
    grid-row: initial;
    object-fit: contain;
  }
  .footer-title {
    letter-spacing: -2px;
    text-shadow: 2px 2px 0 var(--accent-color);
  }
.article-distractors-item {
  grid-row: initial;
}
}
@media (600px <= width < 980px) {
  .focus-reasons, .focus-tips {
    grid-template-columns: 1fr 2fr;
}
.article-distractors-item {
  grid-row: initial;
  grid-column: 1 / 4;
}
}
