/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --page-padding: 20px;
  --page-gap: 40px;
  --section-offset: 80px;
  --gallery-gap: 20px;
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-decor: #FF8DCB;
  --logo-main-color: #FFC2E6;
  --decor-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --footer-title-shadow-desktop-light: #FF0070;
}
@media (width < 600px) {
  :root {
  --page-padding: 10px;
  --page-gap: 30px;
  --section-offset: 50px;
  --gallery-gap: 10px;
  }
}
@media (980px <= width) {
  .footer-title {
    --accent-color: var(--footer-title-shadow-desktop-light);
  }
}

