:root {
  --bg-cover-image: url(../images/cover-image-light.png);
  --font-family: "IBM Plex Mono", monospace;
  --accent-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --page-padding: 20px;
  --page-gap: 40px;
  --section-offset: 80px;
  --gallery-gap: 20px;
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-decor: #FF8DCB;
  --logo-main-color: #FFC2E6;
  --decor-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --footer-title-shadow-desktop-light: #FF0070;
}

@media (width < 600px) {
  :root {
  --page-padding: 10px;
  --page-gap: 30px;
  --section-offset: 50px;
  --gallery-gap: 10px;
  }
}

@media (980px <= width) {
  .footer-title {
    --accent-color: var(--footer-title-shadow-desktop-light);
  }
}
